<div class="bg-dark-blue flex min-h-screen w-full items-center justify-center">
  <main class="bg-dark-grayish-blue w-5/6 max-w-[543px] rounded-md p-8 pb-0">
    <p class="text-neon-green text-center text-xs tracking-[.4em] uppercase">
      advice #{{ advice().id }}
    </p>
    <h1 class="text-light-cyan my-5 text-center text-[28px] font-extrabold">
      "{{ advice().advice }}"
    </h1>

    <img
      src="/images/pattern-divider-mobile.svg"
      alt="A nice looking pattern"
      class="mx-auto mb-4 lg:hidden"
    />
    <img
      src="/images/pattern-divider-desktop.svg"
      alt="A nice looking pattern"
      class="mx-auto mb-4 hidden lg:block"
    />

    <button
      type="button"
      class="bg-neon-green relative -bottom-7 mx-auto block cursor-pointer rounded-full p-5 transition-shadow duration-300 hover:shadow-[0_0_25px_rgba(82,255,168,0.7)]"
      (click)="getAdvice()"
    >
      <img src="/images/icon-dice.svg" alt="Black dice icon" />
    </button>
  </main>
</div>
